/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

/* Header Component */
.Header {
  padding: 10px;
}
.Header-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Header-image {
  height: 80px;
}
.Header-title {
  text-align: center;
}
.Header-nav {
  margin: auto;
  max-width: 1024px;
}

/* Main Component */
.Main {
  margin: auto;
  margin-bottom: 15px;
  max-width: 1024px;
}
.Main-hero {
  max-width: 100%;
}
.Main-copyContainer {
  padding: 0 20px;
}
.Main-header {
  margin: 50px 0 20px;
  text-align: center;
}
.Main-description {
  text-align: center;
}
.Main-hours {
  font-weight: 700;
  text-align: center;
}
.Main-address {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
}
.Main-address p {
  margin: 5px;
}
.Main-mapLink {
  display: block;
  text-align: center;
}

/* Social Component */
.Social-container {
  margin: 50px 0;
}
.Social-header {
  margin-bottom: 20px;
  text-align: center;
}
.Social-linkContainer {
  display: flex;
  justify-content: center;
}
.Social-link {
  margin: 0 10px;
}
.Social-icon {
  height: 24px;
  width: 24px;
}
@media screen and (min-width: 600px) {
  .Header {
    padding: 15px;
  }
  .Header-nav {
    flex-direction: row;
  }
}
